apiVersion: keda.sh/v1alpha1
kind: ScaledJob
metadata:
  name: nginx-too-much-replicas
  namespace: keda-test
spec:
  pollingInterval: 10
  successfulJobsHistoryLimit: 1
  failedJobsHistoryLimit: 1

  jobTargetRef:
    template:
      spec:
        containers:
          - name: alert
            image: busybox
            command: ["sh", "-c", "echo 'NGINX replicas > 1'"]
        restartPolicy: Never

  triggers:
    - type: prometheus
      metadata:
        serverAddress: http://prometheus-server.default.svc.cluster.local:80
        query: max(kube_deployment_status_replicas{deployment="nginx-probes-deployment", namespace="keda-test"})
        threshold: "1"
        activationThreshold: "0.1"
