apiVersion: v1
kind: Pod
metadata:
  name: prometheus
  namespace: keda-test
  selector:
    matchLabels:
      app: prometheus
spec:
  containers:
    - name: prometheus
      image: prom/prometheus
      ports:
        - containerPort: 9090
